*{
    margin:0;
    padding:0;
}

button{
    width:80px;
    height:40px;
}
#btn{

    position: absolute;
}
#box{
    width:400px;
    height:580px;
    background-color: aquamarine;
    position: relative;
    margin:300px auto;
    display: none;
}

#box #close{
    width:20px;
    height:20px;
    background-color:rgba(0,0,0,0.6);
    border-radius: 50%;
    float:right;
    margin:3px 3px 0 0;
    text-align: center;
    line-height: 20px;

}
#box #close span{
    display: none;
}
#box #close:hover span{

    display: block;
    background-color: indianred;
    border-radius: 50%;
    cursor:pointer;
}
#box #title{
    position: absolute;
    margin:40px auto;
    text-align: center;
    left:90px;
    font-size: 30px;
}
#title p{
    margin-bottom: 10px;
}

/*表单部分*/
#box #myform{
    position: absolute;
    top:130px;
    left:50px;
    width:300px;
    height:420px;
    border:2px solid darkgrey;
    /*background-color: ;*/

}
#myform .content{
    margin: 10px 0 0 20px;
    /*background-color: aqua;*/
}

#myform .form_font{
    font-size: 20px;


}
#myform .username{
    width:150px;
    height:25px;

    font-size: 20px;

}
#myform .userage{
    width:60px;
    height:25px;

    font-size: 20px;
}
#myform .userdegree{
    width:150px;
    height:25px;
    font-size: 20px;


}
#myform .jie{
    font-size: 20px;
    margin-top:10px;
}
#submit{
    display: block;
    margin:20px auto;
    font-size:25px;
    background-color: cornflowerblue;

}

